@model WissenstestOnlineWebseite.Models.AntwortRadioButtons_Model

<div class="container">

    @foreach (var radioButton in @Model.RadioButtons)
    {
        if (radioButton.IsTrue)
        {
            <div class="radio">
                <label style="background-color:green"><input type="radio" name="gruppe" id="@radioButton.Radio_Id" checked /> @radioButton.Content</label>
            </div>
        }
        else
        {
            <div class="radio">
                <label><input type="radio" name="gruppe" id="@radioButton.Radio_Id" /> @radioButton.Content</label>
            </div>
        }

    }


</div>