@model WissenstestOnlineWebseite.Models.AntwortRadioButtons_Model

<script src="~/js/otherFunctions.js"></script>

<h4>Hier sollen RadioButtons sein!!</h4>

@foreach (var radioButton in @Model.RadioButtons)
{
    if (radioButton.IsTrue)
    {
        <input type="radio" name="gruppe" id="@radioButton.Radio_Id" checked/><label style="background-color:green">@radioButton.Content</label><br />
    }
    else
    {
        <input type="radio" name="gruppe" id="@radioButton.Radio_Id" />@radioButton.Content<br />
    }

}