@model WissenstestOnlineWebseite.Models.AntwortRadioButtons_Model

<div class="container">

    @foreach (var radioButton in @Model.RadioButtons)
    {
        <div class="radio" id="radioButtons">
            <label id="rb_@radioButton.RadioButtonsID"><input type="radio" name="gruppe" id="@radioButton.RadioButtonsID" value="@radioButton.Content" class="radioButtonInput" /> @radioButton.Content</label>
        </div>
    }

    <div style="display: none;" id="rightValRadioButton">
        <h5><span style="font-weight: bold">Richtige Antwort: </span>@Model.RadioButton_rightVal.Content</h5>
    </div>

</div>