@model WissenstestOnlineWebseite.Models.AntwortSlider_Model

<script src="~/js/otherFunctions.js"></script>

<div class="container">
    <div class="row form-group">
        <div class="col-md-3">
            <input type="range" class="form-control" id="sliderBar" min="@Model.Min" max="@Model.Max" step="@Model.Sprungweite" value="@Model.Min" oninput="changeSliderPractice(this.value, @Model.RightVal);">
        </div>
        <div class="col-md-1">
            <input style="color: black; font-weight: bold" class="form-control" type="text" id="textfield_slider" value="@Model.Min" oninput="changeTextFieldPractice(this.value, @Model.RightVal)" />
        </div>
    </div>
    
</div>


<!--
    
    <table>
        <tr>
            <td>
                <input type="range" id="sliderBar" min="@Model.Min" max="@Model.Max" step="@Model.Sprungweite" value="5" oninput="changeSlider(this.value, @Model.RightVal);">
            </td>
            <td>
                <input style="background-color: green" type="text" id="textfield_slider" value="@Model.RightVal" oninput="changeTextField(this.value, @Model.RightVal)" />
            </td>
        </tr>
    </table>

-->