@model WissenstestOnlineWebseite.Models.AntwortCheckBox_Model

<div class="container">

    @foreach (var checkBox in @Model.CheckBoxen)
    {
        if (checkBox.CheckBoxVal)
        {
            <div class="checkbox">
                <label style="background-color:green"><input type="checkbox" id="@checkBox.CheckboxID" checked />@checkBox.Inhalt</label>
            </div>
        }
        else
        {
            <div class="checkbox">
                <label><input type="checkbox" id="@checkBox.CheckboxID"/>@checkBox.Inhalt</label>
            </div>
        }

    }

</div>