@model WissenstestOnlineWebseite.AdminModels.AntwortInfo_Model
<!--AntwortInfo-->
<div class="modal fade" id="antwortInfo_Modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header MyInfoHeader">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">AntwortInfo: @Model.Antwortname</h4>
            </div>
            <div class="modal-body">
                <p><span style="font-weight: bold">Antwort ID:</span> @Model.Antwort_Id</p>
                <p><span style="font-weight: bold">Antwortname:</span> @Model.Antwortname</p>
                <p><span style="font-weight: bold">Antworttyp:</span> @Model.Antworttyp</p>
                <span style="font-weight: bold;">Antwortansicht:</span>
                @if (Model.Antwort_Text != null)
                {
                    <div class="has-success">
                        <input type="text" value="@Model.Antwort_Text.Text" class="form-control" disabled="disabled" />
                    </div>
                }
                else if (Model.Antwort_Slider != null)
                {

                    <div class="row  form-group">
                        <div class="col-md-4">
                            <input type="range" class="form-control" id="sliderBar" min="@Model.Antwort_Slider.MinVal" max="@Model.Antwort_Slider.MaxVal" step="@Model.Antwort_Slider.Sprungweite" value="@Model.Antwort_Slider.ErwartungsWert" oninput="changeSlider(this.value, @Model.Antwort_Slider.ErwartungsWert);">
                        </div>
                        <div class="col-md-2">
                            <input style="background-color: green; color: black; font-weight: bold" class="form-control" type="text" id="textfield_slider" value="@Model.Antwort_Slider.ErwartungsWert" oninput="changeTextField(this.value, @Model.Antwort_Slider.ErwartungsWert)" />
                        </div>
                    </div>


                }
                else if (Model.Antwort_DatePicker != null)
                {

                    @if (Model.Antwort_DatePicker.Date.Month < 10)
                    {
                        if (Model.Antwort_DatePicker.Date.Day < 10)
                        {
                            var monat = "0" + Model.Antwort_DatePicker.Date.Month;
                            var tag = "0" + Model.Antwort_DatePicker.Date.Day;
                        <input class="form-control datepicker" id="datepickerLearn" type="date" value="@Model.Antwort_DatePicker.Date.Year-@monat-@tag" onchange="changeDatum(this.value, @Model.Antwort_DatePicker.Date.Day, @Model.Antwort_DatePicker.Date.Month, @Model.Antwort_DatePicker.Date.Year);" style="background-color: green;" />
                        }
                        else
                        {
                            var monat = "0" + Model.Antwort_DatePicker.Date.Month;
                        <input class="form-control datepicker" id="datepickerLearn" type="date" value="@Model.Antwort_DatePicker.Date.Year-@monat-@Model.Antwort_DatePicker.Date.Day" onchange="changeDatum(this.value, @Model.Antwort_DatePicker.Date.Day, @Model.Antwort_DatePicker.Date.Month, @Model.Antwort_DatePicker.Date.Year);" style="background-color: green;" />
                        }
                    }
                    else if (Model.Antwort_DatePicker.Date.Day < 10)
                    {
                        var tag = "0" + Model.Antwort_DatePicker.Date.Day;
                        <input class="form-control datepicker" id="datepickerLearn" type="date" value="@Model.Antwort_DatePicker.Date.Year-@Model.Antwort_DatePicker.Date.Month-@tag" onchange="changeDatum(this.value, @Model.Antwort_DatePicker.Date.Day, @Model.Antwort_DatePicker.Date.Month, @Model.Antwort_DatePicker.Date.Year);" style="background-color: green;" />
                    }
                    else
                    {
                        <input class="form-control datepicker" id="datepickerLearn" type="date" value="@Model.Antwort_DatePicker.Date.Year-@Model.Antwort_DatePicker.Date.Month-@Model.Antwort_DatePicker.Date.Day" onchange="changeDatum(this.value, @Model.Antwort_DatePicker.Date.Day, @Model.Antwort_DatePicker.Date.Month, @Model.Antwort_DatePicker.Date.Year);" style="background-color: green;" />
                    }

                }
                else if (Model.Antwort_RadioButtons != null)
                {

                    @foreach (var radioButton in @Model.Antwort_RadioButtons)
                    {
                        if (radioButton.ErwartungsWert)
                        {
                        <div class="radio">
                            <label style="background-color:green"><input type="radio" name="gruppe" id="@radioButton.RadioButtonsID" checked /> @radioButton.Content</label>
                        </div>
                        }
                        else
                        {
                        <div class="radio">
                            <label><input type="radio" name="gruppe" id="@radioButton.RadioButtonsID" /> @radioButton.Content</label>
                        </div>
                        }

                    }

                }
                else if (Model.Antwort_CheckBoxes != null)
                {

                    @foreach (var checkBox in @Model.Antwort_CheckBoxes)
                    {
                        if (checkBox.CheckBoxVal)
                        {
                        <div class="checkbox">
                            <label style="background-color:green"><input type="checkbox" id="@checkBox.CheckboxID" checked />@checkBox.Inhalt</label>
                        </div>
                        }
                        else
                        {
                        <div class="checkbox">
                            <label><input type="checkbox" id="@checkBox.CheckboxID" />@checkBox.Inhalt</label>
                        </div>
                        }

                    }

                }
                else
                {
                    <p>Keine Antwort vorhanden!!!</p>
                }


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
