@{
    ViewData["Title"] = "Aufgabe bearbeiten";
}

@model WissenstestOnlineWebseite.AdminModels.AufgabeEditMain_Model

<div class="container">
    <h1>Aufgabenbearbeitungsmodus</h1>


    <div class="panel-group" id="accordion">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Frage</a>
                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
                <div class="panel-body">
                    <h4><span style="font-weight: bold">Ausgewählte Frage:</span> <span id="selected_frage">@Model.AufgabeInfo_Model.Frage.FrageText</span></h4>

                    <div class="well">

                        <div>
                            <input type="text" class="form-control input" placeholder="Frage eingeben..." style="float:left;" id="searchFrageField_AufgabeEditView">
                            <button class="btn btn-info" type="button" style="float:left;" id="searchFrageText_AufgabeEditView">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                            <button class="btn btn-success" style="margin-left: 8px; margin-right: 20px; margin-bottom:10px; float: right;" id="newFrage_AufgabeEditView">+ neue Frage erstellen</button>
                        </div>

                        <nav id="aufgabeEditFragen">
                            <ul class="list-group" id="frageliste_aufgabeEditView">

                                @foreach (var frage in Model.AufgabeEditView_Model.Fragen)
                {
                    @if (frage.FrageID == Model.AufgabeInfo_Model.Frage.FrageID)
    {
                <li class="list-group-item li_frage" style="background-color: green" id="li_@frage.FrageID">
                    <span class="frageobject" id="@frage.FrageID">@frage.FrageText</span>
                    <div class="btn-group" style="float:right">
                        <button class="btn btn-info frage_Info" id="@frage.FrageID"><span class="glyphicon glyphicon-info-sign"></span></button>
                        <button class="btn btn-warning frage_warning" id="@frage.FrageID"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button class="btn btn-danger frage_danger" id="@frage.FrageID"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </li>
}
else
{
                <li class="list-group-item li_frage" id="li_@frage.FrageID">
                    <span class="frageobject" id="@frage.FrageID">@frage.FrageText</span>
                    <div class="btn-group" style="float:right">
                        <button class="btn btn-info frage_Info" id="@frage.FrageID"><span class="glyphicon glyphicon-info-sign"></span></button>
                        <button class="btn btn-warning frage_warning" id="@frage.FrageID"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button class="btn btn-danger frage_danger" id="@frage.FrageID"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </li>
}


}

                            </ul>
                        </nav>


                    </div>
                    <!--
    <div class="alert alert-info">
        <strong>Achtung!</strong>
        Wird eine Frage erstellt, bearbeitet oder gelöscht, wird die Webseite neu geladen
        und die vorgenommenen Aufgabeeinstellungen zurückgesetzt!
    </div>
        -->
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Antwort</a>
                </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">
                    <h4><span style="font-weight: bold">Ausgewählte Antwort:</span> <span id="selected_antwort">@Model.AufgabeInfo_Model.Antwort_Name</span></h4>

                    <div class="well">

                        <div>
                            <form asp-controller="Admin" asp-action="AufgabeEditView" method="post">
                                <select id="aufgabeEdit_antworttyp_select" class="form-control" style="float:left;" asp-items="@Model.AufgabeEditView_Model.Antwort_Typen"></select>

                                <input type="text" class="form-control input" placeholder="Antwort eingeben..." style="float:left;" id="searchAntwortField_AufgabeEditView">
                                <button class="btn btn-info" type="button" style="float:left;" id="searchAntwortText_AufgabeEditView">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </form>
                            <button class="btn btn-success" style="margin-left: 8px; margin-right: 20px; margin-bottom:10px; float: right;" id="newAntwort_AufgabeEditView">+ neue Antwort erstellen</button>

                        </div>

                        <nav id="aufgabeEditAntworten">
                            <ul class="list-group" id="antwortliste_aufgabeEditView">

                                @foreach (var antwort in Model.AufgabeEditView_Model.Antworten)
                {
                    @if (antwort.AntwortID == Model.AufgabeInfo_Model.Antwort_Id)
    {
                <li class="list-group-item li_antwort" style="background-color: green" id="@antwort.AntwortID-@antwort.Typendefinition.TypendefinitionID">
                    <span class="antwortobject" id="antwort_@antwort.AntwortID">@antwort.AntwortName</span>
                    <div class="btn-group" style="float:right">
                        <button class="btn btn-info antwort_Info" id="antwort_@antwort.AntwortID"><span class="glyphicon glyphicon-info-sign"></span></button>
                        <button class="btn btn-warning antwort_warning" id="antwort_@antwort.AntwortID"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button class="btn btn-danger antwort_danger" id="antwort_@antwort.AntwortID"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </li>
}
else
{
                <li class="list-group-item li_antwort" id="@antwort.AntwortID-@antwort.Typendefinition.TypendefinitionID">
                    <span class="antwortobject" id="antwort_@antwort.AntwortID">@antwort.AntwortName</span>
                    <div class="btn-group" style="float:right">
                        <button class="btn btn-info antwort_Info" id="antwort_@antwort.AntwortID"><span class="glyphicon glyphicon-info-sign"></span></button>
                        <button class="btn btn-warning antwort_warning" id="antwort_@antwort.AntwortID"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button class="btn btn-danger antwort_danger" id="antwort_@antwort.AntwortID"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </li>
}


}

                            </ul>
                        </nav>


                    </div>
                    <!--
    <div class="alert alert-info">
        <strong>Achtung!</strong>
        Wird eine Antwort erstellt, bearbeitet oder gelöscht, wird die Webseite neu geladen
        und die vorgenommenen Aufgabeeinstellungen zurückgesetzt!
    </div>
        -->
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">ZusatzInfo</a>
                </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">
                    <h4><span style="font-weight: bold">Ausgewählte Zusatzinfo:</span> <span id="selected_zusatzInfo">@Model.AufgabeInfo_Model.Zusatzinfo.InfoName</span></h4>

                    <div class="well">

                        <div>
                            <form asp-controller="Admin" asp-action="AufgabeEditView" method="post">
                                <select id="aufgabeEdit_infotyp_select" class="form-control" style="float:left;" asp-items="@Model.AufgabeEditView_Model.Info_Typen"></select>

                                <input type="text" class="form-control input" placeholder="Zusatzinfo eingeben..." style="float:left;" id="searchInfoField_AufgabeEditView">
                                <button class="btn btn-info" type="button" style="float:left;" id="searchInfoText_AufgabeEditView">
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </form>
                            <button class="btn btn-success" style="margin-left: 8px; margin-right: 20px; margin-bottom:10px; float: right;" id="newInfo_AufgabeEditView">+ neue Zusatzinfo erstellen</button>

                        </div>

                        <nav id="aufgabeEditInfo">
                            <ul class="list-group" id="infoliste_aufgabeEditView">

                                @foreach (var info in Model.AufgabeEditView_Model.Infos)
                {
                    @if (info.ZusatzinfoID == Model.AufgabeInfo_Model.Zusatzinfo.ZusatzinfoID)
    {
                <li class="list-group-item li_zusatzInfo" style="background-color: green" id="@info.ZusatzinfoID-@info.Typendefinition.TypendefinitionID">
                    <span class="infoobject" id="info_@info.ZusatzinfoID">@info.InfoName</span>
                    <div class="btn-group" style="float:right">
                        <button class="btn btn-info info_Info" id="info_@info.ZusatzinfoID"><span class="glyphicon glyphicon-info-sign"></span></button>
                        <button class="btn btn-warning info_warning" id="info_@info.ZusatzinfoID"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button class="btn btn-danger info_danger" id="info_@info.ZusatzinfoID"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </li>
}
else
{
                <li class="list-group-item li_zusatzInfo" id="@info.ZusatzinfoID-@info.Typendefinition.TypendefinitionID">
                    <span class="infoobject" id="info_@info.ZusatzinfoID">@info.InfoName</span>
                    <div class="btn-group" style="float:right">
                        <button class="btn btn-info info_Info" id="info_@info.ZusatzinfoID"><span class="glyphicon glyphicon-info-sign"></span></button>
                        <button class="btn btn-warning info_warning" id="info_@info.ZusatzinfoID"><span class="glyphicon glyphicon-pencil"></span></button>
                        <button class="btn btn-danger info_danger" id="info_@info.ZusatzinfoID"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </li>
}


}

                            </ul>
                        </nav>

                    </div>
                    <!--
    <div class="alert alert-info">
        <strong>Achtung!</strong>
        Wird eine ZusatzInfo erstellt, bearbeitet oder gelöscht, wird die Webseite neu geladen
        und die vorgenommenen Aufgabeeinstellungen zurückgesetzt!
    </div>
        -->
                </div>
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Allgemeine Daten</a>
                </h4>
            </div>
            <div id="collapse4" class="panel-collapse collapse">
                <div class="panel-body">
                    <h4><span style="font-weight: bold">Aufgabe ID:</span> <span id="aufgabeEdit_aufgabeID">@Model.AufgabeInfo_Model.Aufgabe_Id</span></h4>

                    <form asp-controller="Admin" asp-action="AufgabeEditView" method="post">

                        <h4>Station:</h4>
                        <!--val="@Model.AufgabeInfo_Model.Station"-->
                        <select id="adminEdit_station_select" class="form-control" asp-items="@Model.AufgabeEditView_Model.Stationen"></select>

                        <h4>Stufe:</h4>

                        @if (Model.AufgabeInfo_Model.Stufe == "Bronze")
                        {
                            <div class="btn-group" data-toggle="buttons" id="stufen">
                                <label class="btn btn-secondary active buttons_stufen">
                                    <input type="radio" name="stufe_aufgabeEdit" id="StufeBronze_AufgabeEdit" value="B" checked>Bronze
                                </label>
                                <label class="btn btn-secondary buttons_stufen">
                                    <input type="radio" name="stufe_aufgabeEdit" id="StufeSilver_AufgabeEdit" value="S">Silber
                                </label>
                                <label class="btn btn-secondary buttons_stufen">
                                    <input type="radio" name="stufe_aufgabeEdit" id="StufeGold_AufgabeEdit" value="G">Gold
                                </label>
                            </div>
                        }
                        else if (Model.AufgabeInfo_Model.Stufe == "Silber")
                        {
                            <div class="btn-group" data-toggle="buttons" id="stufen">
                                <label class="btn btn-secondary buttons_stufen">
                                    <input type="radio" name="stufe_aufgabeEdit" id="StufeBronze_AufgabeEdit" value="Bronze">Bronze
                                </label>
                                <label class="btn btn-secondary buttons_stufen active">
                                    <input type="radio" name="stufe_aufgabeEdit" id="StufeSilver_AufgabeEdit" value="Silber" checked>Silber
                                </label>
                                <label class="btn btn-secondary buttons_stufen">
                                    <input type="radio" name="stufe_aufgabeEdit" id="StufeGold_AufgabeEdit" value="Gold">Gold
                                </label>
                            </div>
                        }
                        else
                        {
                            <div class="btn-group" data-toggle="buttons" id="stufen">
                                <label class="btn btn-secondary buttons_stufen">
                                    <input type="radio" name="stufe_aufgabeEdit" id="StufeBronze_AufgabeEdit" value="Bronze">Bronze
                                </label>
                                <label class="btn btn-secondary buttons_stufen">
                                    <input type="radio" name="stufe_aufgabeEdit" id="StufeSilver_AufgabeEdit" value="Silber">Silber
                                </label>
                                <label class="btn btn-secondary buttons_stufen active">
                                    <input type="radio" name="stufe_aufgabeEdit" id="StufeGold_AufgabeEdit" value="Gold" checked>Gold
                                </label>
                            </div>
                        }

                        <h4>Pflichtaufgabe:</h4>
                        @if (Model.AufgabeInfo_Model.IsPflichtaufgabe)
                        {
                            <div class="btn-group" data-toggle="buttons" id="stufen">
                                <label class="btn btn-secondary buttons_stufen active">
                                    <input type="radio" name="isPflichtaufgabe" id="isPflichtaufgabe_true" value="true" checked>Ja
                                </label>
                                <label class="btn btn-secondary buttons_stufen">
                                    <input type="radio" name="isPflichtaufgabe" id="isPflichtaufgabe_false" value="false">Nein
                                </label>
                            </div>
                        }
                        else
                        {
                            <div class="btn-group" data-toggle="buttons" id="stufen">
                                <label class="btn btn-secondary buttons_stufen">
                                    <input type="radio" name="isPflichtaufgabe" id="isPflichtaufgabe_true" value="true">Ja
                                </label>
                                <label class="btn btn-secondary buttons_stufen active">
                                    <input type="radio" name="isPflichtaufgabe" id="isPflichtaufgabe_false" value="false" checked>Nein
                                </label>
                            </div>
                        }

                        <h4>Teilaufgabe von: </h4><input type="text" class="form-control" value="@Model.AufgabeInfo_Model.TeilAufgabeVon" id="aufgabeEdit_teilaufgabe" />

                        <h4>Bezirk:</h4>
                        <select id="adminEdit_bezirk_select" class="form-control" asp-items="@Model.AufgabeEditView_Model.Bezirke"></select>

                        <h4>Ort:</h4>
                        <select id="adminEdit_ort_select" class="form-control" asp-items="@Model.AufgabeEditView_Model.Standorte"></select>

                    </form>
                </div>
            </div>
        </div>

    </div>


    <button class="btn btn-lg btn-success" id="aufgabeEdit_save">SPEICHERN</button>
    <button class="btn btn-lg btn-danger" id="aufgabeEdit_close">CLOSE</button>

</div>


<div id="loadFrageModal"></div>
<div id="loadAntwortModal"></div>
<div id="loadZusatzInfoModal"></div>

@section scripts{
    <environment names="Development">
        <script src="~/js/admin.js"></script>
        <script src="~/js/otherFunctions.js"></script>
        <script src="~/js/date.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/admin.min.js"></script>
        <script src="~/js/otherFunctions.min.js"></script>
        <script src="~/js/date.min.js"></script>
    </environment>
}


<!--create new Frage-->
<div class="modal fade" id="frageCreate_Modal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header MySuccessHeader">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Neue Frage</h4>
            </div>
            <!-- Body Part -->
            <div class="modal-body">

                <div class="form-group">
                    <h5 style="font-weight: bold">Fragetext:</h5>
                    <input placeholder="Frage eingeben" class="form-control input-field" type="text" id="newFrage_Fragetext" />
                </div>

            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="create_frage_button">Erstellen</button>
            </div>
        </div>

    </div>
</div>


<!--ErrorMessage: Frage darf nicht gelöscht werden-->
<div class="modal fade" role="dialog" id="frageDeleteError_Modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header MyDangerHeader">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">ErrorMessage</h4>
            </div>
            <div class="modal-body">
                <h4>Frage kann nicht gelöscht werden!</h4>
                <p>Ausgewählte Frage kommt in einer oder mehreren Aufgabe(n) vor.</p>
                <p>Löschen sie zuerst die Aufgabe(n) mit der dazugehörigen Frage oder ändern sie die Frage der Aufgabe(n).</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--ErrorMessage: Antwort darf nicht gelöscht werden-->
<div class="modal fade" role="dialog" id="antwortDeleteError_Modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header MyDangerHeader">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">ErrorMessage</h4>
            </div>
            <div class="modal-body">
                <h4>Antwort kann nicht gelöscht werden!</h4>
                <p>Ausgewählte Antwort kommt in einer oder mehreren Aufgabe(n) vor.</p>
                <p>Löschen sie zuerst die Aufgabe(n) mit der dazugehörigen Antwort oder ändern sie die Antwort der Aufgabe(n).</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--Antwort erstellen-->
<div class="modal fade" role="dialog" id="antwortCreate_Modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header MySuccessHeader">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Neue Antwort</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <h5 style="font-weight: bold">Antwortname:</h5>
                    <input placeholder="Antwortname" class="form-control input-field" type="text" id="antwortNew_AntwortnameNew" />
                </div>

                <form asp-controller="Admin" asp-action="GetAntwortEdit" method="post">
                    <div class="form-group" id="InputValueLogin">
                        <h5 id="headingBezirk">Antworttyp:</h5>
                        <select id="antwortTypSelectNew" class="form-control" asp-items="@Model.AufgabeEditView_Model.Antwort_Typen"></select>
                    </div>
                </form>

                <hr />

                <div>
                    <div id="partialViewAntwortenNew">Kein Antworttyp ausgewählt!</div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="create_antwort_button">Erstellen</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--ErrorMessage: ZusatzInfo darf nicht gelöscht werden-->
<div class="modal fade" role="dialog" id="zusatzInfoDeleteError_Modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header MyDangerHeader">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">ErrorMessage</h4>
            </div>
            <div class="modal-body">
                <h4>ZusatzInfo kann nicht gelöscht werden!</h4>
                <p>Ausgewählte ZusatzInfo kommt in einer oder mehreren Aufgabe(n) vor.</p>
                <p>Löschen sie zuerst die Aufgabe(n) mit der dazugehörigen ZusatzInfo oder ändern sie die ZusatzInfo der Aufgabe(n).</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--ZusatzInfo erstellen-->
<div class="modal fade" role="dialog" id="zusatzInfoCreate_Modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header MySuccessHeader">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Neue ZusatzInfo</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <h5 style="font-weight: bold">ZusatzInfoName:</h5>
                    <input placeholder="ZusatzInfoName" class="form-control input-field" type="text" id="zusatzInfoNew_ZusatzInfoName" />
                </div>

                <hr />

                <div class="form-group">
                    <h5 style="font-weight: bold">Inhalte:</h5>

                    <div id="newZusatzInfo_infoContents">
                        <div id="newZusatzInfo_infoContent_1">
                            <div>
                                <input style="margin-bottom: 5px; float:left;" placeholder="Optionaler Titel eingeben" class="form-control input-field" type="text" id="newZusatzInfo_infoContent_heading_1" />
                                <button class="btn btn-danger" id="btn_newZusatzInfo_infoContent_1"><span class="glyphicon glyphicon-remove"></span></button><p></p>
                                <textarea class="form-control" id="newZusatzInfo_infoContent_content_1" style="width:500px; height:150px;"></textarea>
                            </div><br />
                        </div>

                    </div>
                    <button class="btn btn-success" id="newZusatzInfo_addInfoContentNew"><span class="glyphicon glyphicon glyphicon-plus"></span></button>

                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="create_zusatzInfo_button">Erstellen</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->