@{
    ViewData["Title"] = "Aufgabe erstellen";
}

@model WissenstestOnlineWebseite.AdminModels.AufgabeEditMain_Model

<div class="container">
    <h1>Aufgabenerstellungsmodus</h1>

    <form asp-controller="Admin" asp-action="AufgabeNew" method="post">

        <h4>Station:</h4>
        <select id="aufgabeNew_SelectStation" class="form-control" asp-items="@Model.AufgabeEditView_Model.Stationen"></select>

        <h4>Stufe:</h4>
        <div class="btn-group" data-toggle="buttons" id="stufen">
            <label class="btn btn-secondary active buttons_stufen">
                <input type="radio" name="stufe_aufgabeEdit" id="StufeBronze_AufgabeNew" value="B" checked>Bronze
            </label>
            <label class="btn btn-secondary buttons_stufen">
                <input type="radio" name="stufe_aufgabeEdit" id="StufeSilver_AufgabeNew" value="S">Silver
            </label>
            <label class="btn btn-secondary buttons_stufen">
                <input type="radio" name="stufe_aufgabeEdit" id="StufeGold_AufgabeNew" value="G">Gold
            </label>
        </div>

        <h4>Pflichtaufgabe:</h4>
        <div class="btn-group" data-toggle="buttons" id="stufen">
            <label class="btn btn-secondary buttons_stufen active">
                <input type="radio" name="isPflichtaufgabe" id="aufgabeNew_isPflichtaufgabe_true" value="true" checked>Ja
            </label>
            <label class="btn btn-secondary buttons_stufen">
                <input type="radio" name="isPflichtaufgabe" id="aufgabeNew_isPflichtaufgabe_false" value="false">Nein
            </label>
        </div>

        <h4>Teilaufgabe von: </h4><input type="text" class="form-control" value="-" id="aufgabeNew_teilaufgabe" />

        <h4>Bezirk:</h4>
        <select id="aufgabeNew_bezirk_select" class="form-control" asp-items="@Model.AufgabeEditView_Model.Bezirke"></select>

        <h4>Ort:</h4>
        <select id="aufgabeNew_ort_select" class="form-control" asp-items="@Model.AufgabeEditView_Model.Standorte"></select>

    </form>

    <hr />
    <h3>Frage:</h3>
    <h4><span style="font-weight: bold">Ausgewählte Frage:</span> <span id="selected_frage">-</span></h4>

    <div class="well">

        <div>
            <input type="text" class="form-control input" placeholder="Frage eingeben..." style="float:left;" id="searchFrageField_AufgabeNew">
            <button class="btn btn-info" type="button" style="float:left;" id="searchFrageText_AufgabeNew">
                <span class="glyphicon glyphicon-search"></span>
            </button>
            <button class="btn btn-success" style="margin-left: 8px; margin-right: 20px; margin-bottom:10px; float: right;" id="newFrage_AufgabeNew">+ neue Frage erstellen</button>
        </div>

        <nav id="aufgabeNewFragen">
            <ul class="list-group" id="frageliste_aufgabeNew">

                @foreach (var frage in Model.AufgabeEditView_Model.Fragen)
                {
                    <li class="list-group-item li_frage" id="li_@frage.Frage_Id">
                        <span class="frageobject" id="@frage.Frage_Id">@frage.Fragetext</span>
                        <div class="btn-group" style="float:right">
                            <button class="btn btn-info frage_Info" id="@frage.Frage_Id"><span class="glyphicon glyphicon-info-sign"></span></button>
                            <button class="btn btn-warning frage_warning" id="@frage.Frage_Id"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button class="btn btn-danger frage_danger" id="@frage.Frage_Id"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </li>
                }

            </ul>
        </nav>

    </div>

    <hr />


    <h3>Antwort:</h3>
    <h4><span style="font-weight: bold">Ausgewählte Antwort:</span> <span id="selected_antwort">-</span></h4>

    <div class="well">

        <div>
            <form asp-controller="Admin" asp-action="AufgabeNew" method="post">
                <select id="aufgabeNew_antworttyp_select" class="form-control" style="float:left;" asp-items="@Model.AufgabeEditView_Model.Antwort_Typen"></select>

                <input type="text" class="form-control input" placeholder="Antwort eingeben..." style="float:left;" id="searchAntwortField_AufgabeNew">
                <button class="btn btn-info" type="button" style="float:left;" id="searchAntwortText_AufgabeNew">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </form>
            <button class="btn btn-success" style="margin-left: 8px; margin-right: 20px; margin-bottom:10px; float: right;" id="newAntwort_AufgabeNew">+ neue Antwort erstellen</button>

        </div>

        <nav id="aufgabeNewAntworten">
            <ul class="list-group" id="antwortliste_aufgabeNew">

                @foreach (var antwort in Model.AufgabeEditView_Model.Antworten)
                {

                    <li class="list-group-item li_antwort" id="@antwort.Antwort_Id-@antwort.Typ.Typ_Id">
                        <span class="antwortobject" id="antwort_@antwort.Antwort_Id">@antwort.Antwort_Name</span>
                        <div class="btn-group" style="float:right">
                            <button class="btn btn-info antwort_Info" id="antwort_@antwort.Antwort_Id"><span class="glyphicon glyphicon-info-sign"></span></button>
                            <button class="btn btn-warning antwort_warning" id="antwort_@antwort.Antwort_Id"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button class="btn btn-danger antwort_danger" id="antwort_@antwort.Antwort_Id"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </li>
                }

            </ul>
        </nav>


    </div>


    <hr />

    <h3>ZusatzInfo:</h3>
    <h4><span style="font-weight: bold">Ausgewählte Zusatzinfo:</span> <span id="selected_zusatzInfo">-</span></h4>

    <div class="well">

        <div>
            <form asp-controller="Admin" asp-action="AufgabeEditView" method="post">
                <select id="aufgabeNew_infotyp_select" class="form-control" style="float:left;" asp-items="@Model.AufgabeEditView_Model.Info_Typen"></select>

                <input type="text" class="form-control input" placeholder="Zusatzinfo eingeben..." style="float:left;" id="searchInfoField_AufgabeNew">
                <button class="btn btn-info" type="button" style="float:left;" id="searchInfoText_AufgabeNew">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </form>
            <button class="btn btn-success" style="margin-left: 8px; margin-right: 20px; margin-bottom:10px; float: right;" id="newInfo_AufgabeNew">+ neue Zusatzinfo erstellen</button>

        </div>

        <nav id="aufgabeNewInfo">
            <ul class="list-group" id="infoliste_aufgabeNew">

                @foreach (var info in Model.AufgabeEditView_Model.Infos)
                {

                    <li class="list-group-item li_zusatzInfo" id="@info.Zusatzinfo_Id-@info.Typ.Typ_Id">
                        <span class="infoobject" id="info_@info.Zusatzinfo_Id">@info.Zusatzinfo_Name</span>
                        <div class="btn-group" style="float:right">
                            <button class="btn btn-info info_Info" id="info_@info.Zusatzinfo_Id"><span class="glyphicon glyphicon-info-sign"></span></button>
                            <button class="btn btn-warning info_warning" id="info_@info.Zusatzinfo_Id"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button class="btn btn-danger info_danger" id="info_@info.Zusatzinfo_Id"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </li>

                }

            </ul>
        </nav>

    </div>

    <button class="btn btn-lg btn-success" id="aufgabeEdit_save">ERSTELLEN</button>
    <button class="btn btn-lg btn-danger" id="aufgabeEdit_close">CLOSE</button>

</div>